/* Patternfly CSS places a "bg-login.jpg" */
.login-pf {
  background: none;
}

html {
  background: #68888c;
}

/* Body styling */
body {
  display: flex;
  flex-direction: row;
  font-family: Plus Jakarta Sans;
  color: var(--Gray-50, #5f6d7e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.016px;
}

body h2 {
  color: #2e3646;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 62.5% */
  letter-spacing: -0.032px;
}

body h4 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.016px;
}

/* Right side screen */
.login-pf-page,
.right-side {
  flex: 1;
  width: 50%;
  height: 100%;
}

.right-side {
  position: fixed;
  background: #a8c0c3;
  right: 0;
}

.svg-item {
  position: fixed;
  top: 32px;
  right: 8px;
  width: 42vh;
  height: 50vh;
  background: url("../img/logo-pyramid.svg") no-repeat;
}

/* Left side screen */
.login-pf body {
  background: #f8f9fb;
}

.login-pf-page {
  position: absolute;
  margin: 0 auto;
  z-index: 100;
  background: #f8f9fb;
}

/* Inputs */
.pf-c-form-control:not(textarea) {
  height: 48px;
}

.pf-c-form-control {
  height: 48px;
  font-size: 14px;
  line-height: 14px;
  background: #f2f2f2;
  border: none;
  border-radius: 6px;
  padding: 14px 16px !important;
}

.pf-c-form-control[aria-invalid="true"] {
  background-repeat: no-repeat;
  box-shadow: 0 0 3px #cc0000;
  margin-bottom: 8px;
}

.pf-m-error {
  line-height: 20px;
}

label {
  color: var(--Gray-50, #5f6d7e);
  font-size: 14px;
}

/* Bottom right info */
.info-box {
  color: black;
  display: flex;
  flex-direction: column;
  margin: auto 60px;
  position: absolute;
  bottom: 80px;
}

.twinspot-info h1 {
  font-size: 32px;
  line-height: 130%;
}

.tt-copyright {
  position: absolute;
  left: 32px;
  bottom: 32px;
  color: var(--Gray-50, #5f6d7e);
  font-size: 14px;
  z-index: 400;
}

/* Submit button */
.pf-c-button.pf-m-primary {
  background-color: #151f22;
  height: 48px;
  color: var(--Neutral-100, #f8f9fb);
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.014px;
  border-radius: 6px;
}

.contact-support {
  text-align: center;
  margin-top: 5px;
}

.contact-support-link,
.forgot-password {
  text-decoration: underline;
  color: var(--Gray-50, #5f6d7e);
}

.forgot-password {
  font-size: 14px;
}

.card-pf {
  background-color: #f8f9fb;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 500px;
  box-shadow: none;
}

.return-to-login a {
  color: #5f6d7e;
  font-size: 14px;
  font-weight: 600;
}

.return-to-login {
  margin-top: 2em;
  text-align: center;
}

#kc-locale ul {
  background-color: var(--pf-global--BackgroundColor--100);
  display: none;
  top: 20px;
  min-width: 100px;
  padding: 0;
}

#kc-locale-dropdown {
  display: inline-block;
}

#kc-locale-dropdown:hover ul {
  display: block;
}

#kc-locale-dropdown a {
  color: var(--pf-global--Color--200);
  text-align: right;
  font-size: var(--pf-global--FontSize--sm);
}

a#kc-current-locale-link::after {
  content: "\2c5";
  margin-left: var(--pf-global--spacer--xs);
}

.kc-feedback-text {
  font-weight: 100;
}

.alert-error {
  margin-bottom: 16px;
}

div.kc-logo-text {
  background-image: url("https://assets-global.website-files.com/642ae770b41e726e17aced7d/642f28b6fcffd07d18a0120c_Logo%20incl%20spacing.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 32px;
  left: 32px;
  height: 40px;
  width: 300px;
  margin: 0 auto;
}

div.kc-logo-text span {
  display: none;
}

#kc-header-wrapper {
  padding: 62px 10px 20px;
}

#kc-content-wrapper {
  margin-top: 20px;
}

#kc-form-options .checkbox {
  margin-top: 0;
  color: #72767b;
}

.required {
  color: #cc0000;
}

@media (max-height: 700px) {
  .tt-copyright {
    display: none;
  }

  .svg-item {
    display: none;
  }
}

@media (max-width: 1100px) {
  .right-side {
    display: none;
  }

  .login-pf-page {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #kc-container-wrapper {
    position: absolute;
    width: 100%;
  }

  .login-pf .container {
    padding-right: 80px;
  }

  #kc-locale {
    position: relative;
    text-align: right;
    z-index: 9999;
  }
}
